body{
	background-color:black;
	float:left;
	width:100vw;
	height:auto;
	margin:0;
	padding:0;
	overflow-x:hidden;
}
header{
	width:100vw;
	height:350px;
	float:left;
	margin:0;
}
h1{
	font-size:50px;
	text-align:center;
	padding-top:55px;
	font-family:'Montserrat', sans-serif;
	color:white;
}
section{
	width:100vw;
	height:auto;
}
footer{
	float:left;
	width:100vw;
	height:300px;
}
p{
    width:500px;
    margin:auto;
	color:white;
	text-align:center;
	padding-top:70px;
	font-family:'Montserrat', sans-serif;
	float:right;
	font-size:25px;
	padding-right:190px;
}
.active{
	font-size:20px;
	padding:20px;
	font-family:'Montserrat', sans-serif;
	color:white;
	text-decoration:none;
}
.img{
	padding-left:100px;
	float:left;
	width:auto;
	padding-top:30px;
}
.row{
	overflow:scroll;
	width:100%;
	overflow-y:hidden;
}
.row__inner{
	white-space:nowrap;
}
.tile{
	display:inline-block;
}
.tile__img{
	width:auto;
	height:auto;
}
.tile__media{
	width:auto;
	height:auto;
	opacity:1;
}
.tile_media:hover{
	opacity:1;
}
.zoom{
	padding:19px;
	transition:transform .3s;
	opacity:1;
	width:315px;
	height:167px;
}
.zoom:hover{
	transform:scale(1.3);
	z-index:3;  
	opacity:1;
}
@media only screen and (max-width: 800px){
::-webkit-scrollbar{
    display: none;
}
body{
	overflow-x:hidden;
}
.tile{
	display:block;
}
.tile__img{
	width:auto;
	height:auto;
}
.tile__media{
	width:100vw;
	height:100%;
	padding-left:70px;
}
.row{
	overflow-x:hidden;
	width:100%;
}
.img{
	margin:0;
	float:centre;
	width:75%;
	height:auto;
	padding-left:60px;
}
h1{
	font-size:40px;
	text-align:center;
	font-family:'Montserrat', sans-serif;
	color:white;
	padding-left:10px;
	padding-right:10px;
	padding-top:55px;
}
p{
	float:left;
    width:70%;
	height:auto;
	color:white;
	text-align:left;
	font-family:'Montserrat', sans-serif;
	font-size:20px;
	padding-left:60px;
}
}
